main{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
}

h1 {
    flex-basis: 100%;
    text-align: center;
    background-color: rgb(104, 93, 121);
    margin-top: 0px;
    margin-bottom: 3px;
}

h2{
    flex-basis: 100%;
    background-color: rgb(171, 108, 130);
    margin-top: 0px;
}

section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.titre1 {
    text-decoration: underline;
}

.A1 {
    background-color: rgb(71, 92, 122);
    flex-basis: calc(100%/0.9);
}

h3{
    flex-basis: 100%;
    background-color: rgb(104, 93, 121);
    color: white;
}

.boutton {
    background-color: rgba(240, 255, 255, 0.62);
}

video{
    display: flex;
    flex-wrap: wrap;
    margin:0px auto;
}
