main{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
}

h1{
    background-color:rgb(104, 93, 121);
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 0px;
    color: azure;
}

h2{
    background-color:rgb(171, 108, 130);
    text-align: center;
    flex-basis: 100%;
    margin-top: 3px;
    margin-bottom: 2%;
}

section{
    margin-top: 0px;
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: rgb(71, 92, 122);
}

.titre1{
    text-decoration:underline;
    font-weight: bold;
}

p{color: black;}

h3{
    background-color: rgb(104, 93, 121);
    color: azure;
    flex-basis: 100%;
    padding: 1%;
}

button{
    padding: 5px;
    color: black;
    background-color: aliceblue;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    box-shadow: 0px 5px 7.5px aliceblue;

}

button:hover{
    background-color: rgb(71, 92, 122);
    box-shadow: 0px 7.5px 10px rgb(71, 92, 122);
    color: aliceblue;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}

body{
    background-color: rgb(255, 255, 255);
}
